body {
    background-color: #252525;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.logo {
    width: 60px;
}

.mtf {
    width: 150px;
}

a {
    display: flex
;
    justify-content: center;
    align-items: center;
}

.usuario-header {
    display: flex
;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
    border-bottom: 3px solid #14ced4;
    width: 40%;
    margin: auto;
    margin-top: 15px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 30px;
}

.form-container {
    background: #1e1e1e;
    padding: 50px;
    border-radius: 25px;
}

.lista-ejercicios {
    background: #1e1e1e;
    padding: 50px;
    border-radius: 25px;
}

.usuario-header img {
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
border: 3px solid #14ced4;
}


.usuario-header h1 {
color: #14ced4;
margin: 10px 0 0;
font-size: 1.8rem;
}

.divider {
    height: 2px;
    background-color: #14c0e5;
    margin: 20px auto;
    width: 80%;
    border-radius: 2px;
}

.main-container {
    flex-wrap: wrap;
    gap: 83px;
    justify-content: center;
    display: flex;
    width: 71%;
    margin: auto;
    margin-top: 30px;
    
}

.form-container, .lista-ejercicios {
    flex: 1;
    min-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
padding: 10px;
border-radius: 5px;
border: 2px solid #14ced4;
background-color: #1e1e1e;
color: white;
}

button {
background-color: transparent;
color: white;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
border: 2px solid transparent;
transition: 0.5s;
}

.btn-agregar {
    border: 2px solid #14ced4;
    width: 28%;
}

.btn-agregar:hover{
    background-color: #14ced4;
}

.btn-guardar {
    border: 2px solid #14ced4;
    width: 100%;
}

.btn-guardar:hover{
    background-color: #14ced4;
}


.ejercicio-item {
background-color: #1e1e1e;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
display: flex
;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid #14ced4;
color: #ffffff;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.acciones-ejercicio {
    display: flex;
    gap: 10px;
}

.acciones-ejercicio img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease;
}

.acciones-ejercicio img:hover {
    transform: scale(1.2);
}


.fila-basico {
    color: red;
    font-weight: bold;
  }
  
  .fila-accesorio {
    color: white;
  }

  
  .modalcontent{
    display: flex;
    border-radius: 20px 20px 20px 20px;
  }
  
  .modal-content{
    border-radius: 0px 20px 20px 0px;
    padding: 40px;
  }
  
  .modal-content input, .modal-content button {
    width: 100%;
    margin: 6px;
  }
  
  
  .modal-content input, .modal-content button {
    width: 100%;
  }
  
  
  .logos{
      background-image: url(/img/115-foto.png);
      background-size: cover;
      background-position: 50% 0%;
      width: 300px;
      object-fit: cover;
      border-radius: 20px 0px 0px 20px;
  }
  

  .sugerencias-lista {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #2c2c2c;
  color: white;
  border: 1px solid #05e4dd;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

.sugerencias-lista li {
  padding: 10px;
  cursor: pointer;
}

.sugerencias-lista li:hover {
  background-color: #00dcd5;
}